services:
  - type: web
    name: microai-platform
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install --legacy-peer-deps && npx prisma generate && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_URL
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: NEXTAUTH_URL
        sync: false
      - key: NEXTAUTH_SECRET
        sync: false
      - key: DIRECT_URL
        sync: false
    healthCheckPath: /
    autoDeploy: true
